<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/react-treeview.css">
    <link rel="stylesheet" href="./css/App.css"></link>
    <title>VRV Config Web Tool</title>
  </head>
  <body>
    <h1>VRV Config Web Tool</h1>
    <div id="root"></div>
</body>
  <script src="bundle.js"></script>
</html>